/* ----------------------------------------------------------- */
/* ------------------------- BASIC SETUP ----------------------*/
/* ----------------------------------------------------------- */
:root {
    /* Primary */
    --pink: hsl(322, 100%, 66%);

    /* Neutral */
    --pale-cyan: hsl(193, 100%, 96%);
    --dark-cyan: hsl(192, 100%, 9%);
    --gray-blue: hsl(208, 11%, 55%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    max-width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    margin: 0 auto;
}

/* ----------------------------------------------------------- */
/* -------------------- REUSABLE COMPONENTS  ------------------*/
/* ----------------------------------------------------------- */

/*-------- Headings --------*/
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

section {
    margin-bottom: 120px;
}

/* -------- PARAGRAPHS---------- */

/* -------- ICONS---------- */

/* -------- LINKS---------- */

/* -------- BUTTONS---------- */

.btn {
    background-color: var(--pink);
    width: 37%;
    padding: 18px 40px;
    text-align: center;
    border-radius: 100px;
    color: white;
    font-size: 70%;
    font-weight: 700;
    transition: background-color 0.5s;
}

.btn:hover,
.btn:active {
    background-color: #ff1fac;
    color: white;
    cursor: pointer;
}

/* ----------------------------------------------------------- */
/* ----------------------------- HERO  ------------------------*/
/* ----------------------------------------------------------- */

.hero {
    padding: 80px 100px;
    background: url(../images/bg-hero-desktop.svg) no-repeat center center / cover, var(--pale-cyan);
    height: 100vh;
}

.hero-bg {
    width: 100%;
}

.hero-title {
    font-size: 200%;
    width: 500px;
}

.hero-info {
    width: 67%;
    margin: 25px 0 30px;
    line-height: 145%;
}

/*---------- NAVBAR ----------*/
.nav-brand img{
    width: 25%;
    vertical-align: bottom;
    padding-top: 15px;
}

.cta-btn {
    background-color: #fff;
    width: 200px;
    padding: 15px 50px;
    text-align: center;
    border-radius: 100px;
    font-weight: 700;
    box-shadow: 0 0 10px 1px #a0a0a062;
    margin-left: 0;
    justify-self: end;
    font-size: 80%;
    transition: background-color 0.5s, color 0.5s;
    cursor: pointer;

}

.cta-btn:hover,
.cta-btn:active {
    background-color: var(--pink);
    color: white;
}

/* ----------------------------------------------------------- */
/* ---------------------------- CARDS  ------------------------*/
/* ----------------------------------------------------------- */
#card-feature {
    position: relative;
}

.card {
    height: 500px;
    width: 1700px;
    box-shadow: 0 2px 20px -5px #9b9b9b59;
    margin: 0 auto 40px;
    border-radius: 10px;
    padding: 15px 5px 20px 50px;
    text-align: left;
    position: relative;
}

.card.left {
    grid-template-areas: "left-position right-position";
}

.card img {
    height: 400px;
    padding: 0;
    position: absolute;
    top: 8%;
    right: 4%;
}

.card-info {
    width: 540px;
    margin-left: 100px;
}

.floated-conversation {
    grid-area: left-position;
    left: 10%;
}

.floated-container {
    grid-area: right-position;
    margin-left: 200px;
}

.floated-info {
    width: 90%;
    color: #b0b0b0;
}

.card-info h2 {
    margin-bottom: 10px;
}

.card-info p {
    color: var(--gray-blue);
}


/* ----------------------------------------------------------- */
/* ---------------------------- GRID --------------------------*/
/* ----------------------------------------------------------- */

.wrapper > section > div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 120px;
}

/* ----------------------------------------------------------- */
/* --------------------------- BANNER -------------------------*/
/* ----------------------------------------------------------- */

.banner.card {
    width: 45%;
    height: 220px;
    text-align: center;
    padding: 20px 50px;
    position: relative;
    background-color: #fff;
    margin: 0 auto -200px;

}

.banner h1 {
    font-size: 150%;
    margin: 35px 0 20px;
    display: inline-block;
}

.banner .btn { margin: 0 auto; }

/* ----------------------------------------------------------- */
/* --------------------------- FOOTER -------------------------*/
/* ----------------------------------------------------------- */
footer {
    background-color: var(--dark-cyan);
    padding: 150px 0 30px 200px;
    display: grid;
    color: #8b8b8b;
    grid-template-columns: 1fr 0.5fr 0.5fr 0.57fr;
    grid-auto-flow: column;
    align-items: center;
    justify-content: center;
}

.nav-brand-white img{
    display: block;
    margin-bottom: 35px;
}

.footer-list {
    list-style-type: none;
}

.footer-text {
    width: 70%;
    display: inline-block;
}

.footer-icon {
    color: white;
    margin-right: 20px;
    display: inline-block;
    vertical-align: top;
    margin-top: 5px;
}

.item-1 {
    display: inline-block;

}

footer li {
    margin-bottom: 15px;
}

.footer-list a {
    text-decoration: none;
    color: #8b8b8b;
    border-bottom: 1px solid transparent;
    padding: 5px;
    transition: color 0.2s, border-bottom 0.2s;
}

footer ul li a:hover,
footer a:active {
    color: #fff;
    border-bottom: 1px solid #fff;
}

.social-link {
    color: white;
    margin: 0 20px 90px 0;
    display: inline-block;
    border: 1px solid white;
    border-radius: 200%;
    padding: 5px 10px;
    font-size: 80%;
    transition: background-color 0.2s;
    cursor: pointer;
}


.facebook { padding: 5px 13px; }
.facebook:hover,
.facebook:active {
    background-color: #3b5998;
}

.twitter:hover,
.twitter:active {
    background-color: #55acee;
}

.instagram:hover,
.instagram:active {
    background-color: #e95950;
}

.copy-right {
    background-color: var(--dark-cyan);
    color: #8b8b8b;
    font-size: 70%;
    text-align: end;
    padding: 0 80px 30px;
}

.attribution {
    font-size: 11px;
    text-align: center;
    background-color: var(--dark-cyan);
    color: #ddd;
}
.attribution a { color: hsl(228, 45%, 44%); }

/* ----------------------------------------------------------- */
/* ----------------------- MEDIA QUERIES ----------------------*/
/* ----------------------------------------------------------- */
@media only screen and (max-width: 1440px) {
    body { font-size: 18px; }

    header { margin-bottom: 50px; }

    .hero {
        padding: 60px 100px;
        height: auto;
    }

    .hero-title { width: 400px; }

    .hero-info { width: 84%; }

    .btn { width: 44%; }

    .card {
        height: 400px;
        width: 1300px;
        margin: 0 auto 20px;
        padding: 15px 5px 20px 50px;
        text-align: left;
    }

    .card img { height: 320px; }

    .card-info {
        width: 500px;
        margin-left: 80px;
    }

    .floated-container {
        margin-left: 100px;
        margin-right: 90px;
    }

    .floated-info {
        width: 110%;
    }

    footer { grid-template-columns: 2.5fr 0.9fr 1fr 1.4fr; }

    .copy-right { padding: 0 30px 30px; }
}

@media only screen and (max-width: 375px) {

    body {
        font-size: 13px;
    }

    section {
        margin-bottom: 60px;
    }

    .wrapper > section > div{
        grid-template-columns: 1fr;
    }

    .nav-brand img{
        width: 60%;
        padding-top: 7px;
    }

    .cta-btn {
        width: 90px;
        padding: 4px 8px 0;
    }

    .hero {
        padding: 30px 10px;
    }

    .hero-bg {
        width: 100%;
    }

    .hero-title {
        width: 300px;
        text-align: center;
        margin: 0 auto;
    }

    .hero-info {
        font-size: 110%;
        width: 83%;
        margin: 25px auto 30px;
        text-align: center;
        line-height: 150%;
    }

    .btn {
        padding: 12px 50px;
        font-size: 80%;
        margin: 0 auto 45px;
    }

    .card {
        height: 450px;
        width: 85%;
        margin: 0 auto 30px;
        padding: 20px 5px 10px;
        text-align: center;
        position: static;
    }

    .card img {
        height: 220px;
        padding-bottom: 40px;
        position: static;
        width: auto;
    }

    .card-info {
        width: 240px;
        margin: 0 auto;
        line-height: 150%;
    }

    .card.left {
        grid-template-areas: "left-position"
                            "right-position";
    }

    .card-info h2 {
        margin-bottom: 15px;
    }

    .floated-container {
        margin: 0 0 20px;
    }

    .floated-h2 {
        margin-bottom: 20px;
    }

    .floated-info {
        width: 80%;
        color: #b0b0b0;
        margin: 0 auto;
    }

    img.floated-conversation {
        padding-top: 20px;
    }

    .banner.card {
        width: 90%;
        height: 150px;
        padding: 5px 10px 15px;
        margin: 0 auto -110px;
    }

    .banner h1 {
        font-size: 130%;
    }

    .btn {
        width: 65%;
    }

    footer {
        padding: 120px 0 20px 15px;
        grid-template-columns: 1fr;
        grid-auto-flow: row;
    }

    .nav-brand-white img{
        width: 160px;
        margin-bottom: 25px;
    }

    .footer-list li {
        margin-bottom: 25px;
    }

    .item-2,
    .item-3 {
        margin-top: 30px;
    }

    .item-4 {
        margin: 0 auto;
    }

    .social-link {
        margin: 20px 10px 0 0;

    }

    .copy-right {
        text-align: center;
    }
}