/* ----------------------------------------------------------- */
/* ------------------------- BASIC SETUP ----------------------*/
/* ----------------------------------------------------------- */
:root {
    /* Primary */
    --pink: hsl(322, 100%, 66%);

    /* Neutral */
    --pale-cyan: hsl(193, 100%, 96%);
    --dark-cyan: hsl(192, 100%, 9%);
    --gray-blue: hsl(208, 11%, 55%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    max-width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    margin: 0 auto;
}

/* ----------------------------------------------------------- */
/* -------------------- REUSABLE COMPONENTS  ------------------*/
/* ----------------------------------------------------------- */

/*-------- Headings --------*/
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

section {
    margin-bottom: 120px;
}

/* -------- PARAGRAPHS---------- */

/* -------- ICONS---------- */

/* -------- LINKS---------- */

/* -------- BUTTONS---------- */

.btn {
    background-color: var(--pink);
    width: 44%;
    padding: 18px 40px;
    text-align: center;
    border-radius: 100px;
    color: white;
    font-size: 70%;
    font-weight: 700;
}

/* ----------------------------------------------------------- */
/* ----------------------------- HERO  ------------------------*/
/* ----------------------------------------------------------- */
main:first-child {

}
.hero {
    padding: 60px 100px;
    background: url(../images/bg-hero-desktop.svg) no-repeat center center / cover, var(--pale-cyan);
}

.hero-bg {
    width: 100%;
}

.hero-title {
    font-size: 200%;
    width: 400px;
}

.hero-info {
    width: 84%;
    margin: 25px 0 30px;
    line-height: 145%;
}

/*---------- NAVBAR ----------*/
.nav-brand img{
    width: 25%;
    vertical-align: bottom;
    padding-top: 15px;
}

.cta-btn {
    background-color: #fff;
    width: 200px;
    padding: 15px 50px;
    text-align: center;
    border-radius: 100px;
    font-weight: 700;
    box-shadow: 0 0 10px 1px #a0a0a062;
    margin-left: 0;
    justify-self: end;
    font-size: 80%;

}

/* ----------------------------------------------------------- */
/* ---------------------------- CARDS  ------------------------*/
/* ----------------------------------------------------------- */
#card-feature {
    position: relative;
}

.card {
    height: 400px;
    width: 1300px;
    box-shadow: 0 2px 20px -5px #9b9b9b59;
    margin: 0 auto 20px;
    border-radius: 10px;
    padding: 15px 5px 20px 50px;
    text-align: left;
    position: relative;
}

.card img {
    height: 320px;
    padding: 0;
    position: absolute;
    top: 8%;
    right: 4%;
}

.card-info {
    width: 500px;
    margin-left: 80px;
}

.card-info h2 {
    margin-bottom: 10px;
}

.card-info p {
    color: var(--gray-blue);
}


/* ----------------------------------------------------------- */
/* ---------------------------- GRID --------------------------*/
/* ----------------------------------------------------------- */

.wrapper > section > div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 50px;
}

/* ----------------------------------------------------------- */
/* --------------------------- BANNER -------------------------*/
/* ----------------------------------------------------------- */

.banner.card {
    width: 45%;
    height: 220px;
    text-align: center;
    padding: 20px 50px;
    position: relative;
    background-color: #fff;
    margin: 0 auto -200px;

}

.banner h1 {
    font-size: 150%;
    margin: 35px 0 20px;
    display: inline-block;
}

.banner .btn {
    margin: 0 auto;
}

/* ----------------------------------------------------------- */
/* --------------------------- FOOTER -------------------------*/
/* ----------------------------------------------------------- */
footer {
    background-color: var(--dark-cyan);
    padding: 150px 170px 0;
    display: grid;
    color: #8b8b8b;
    grid-template-columns: 2fr 0.6fr 0.6fr 1.2fr;
    grid-auto-flow: column;
}

footer .nav-brand-copy{
    background-color: #fff;
    mask: url(../images/logo.svg) no-repeat center;
    -webkit-mask: url(../images/logo.svg) no-repeat center;
}

footer ul {
    list-style-type: none;
}

footer ul li a {
    text-decoration: none;
    color: #ddd;
}

footer p {
    width: 60%;
}

.fas {
    color: white;
    margin-right: 10px;
}

.attribution {
    font-size: 11px;
    text-align: center;
    background-color: var(--dark-cyan);
    color: #ddd;
}
.attribution a { color: hsl(228, 45%, 44%); }